/* Phần navigation */
nav {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  gap: 20px; /* Khoảng cách giữa các mục */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Hiển thị các mục theo hàng ngang */
  flex-direction: row;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  display: block;
  border-radius: 5px;
}

nav ul li a:hover, nav ul li.active a {
  background-color: #ff7f00; /* Màu cam khi hover hoặc active */
  color: white; /* Chữ trắng khi active */
}
